@model Cafeen.Models.tblProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblInventory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblInventory.Name)
        </dd>
        <dt>
            <b>Category</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblInventory.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblInventory.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblCategory.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategory.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
