@model PagedList.IPagedList<Cafeen.Models.tblProduct>
@using PagedList.Mvc;
<link href="=~/Content/PagesList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Inventory";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink(
    linkText: "Create new product",
    actionName: "Create",
    routeValues: null, // or to pass some value -> routeValues: new { id = 1 },
    htmlAttributes: new { @class = "btn btn-primary btn-large" }
)

<br />
<br />

@using (Html.BeginForm())

{
    <p>
        Search for entry: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}



<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Qty", "Index", new { sortOrder = ViewBag.QtySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCategory.Price)
        </td>
        <td>

            @Html.ActionLink(
                linkText: "Edit",
                actionName: "Edit",
                routeValues: new { id = item.Id },
                htmlAttributes: new { @class = "btn btn-info btn-sm" }
            )

            @Html.ActionLink(
                linkText: "Details",
                actionName: "Details",
                routeValues: new { id = item.Id },
                htmlAttributes: new { @class = "btn btn-info btn-sm" }
            )

            @Html.ActionLink(
                linkText: "Delete",
                actionName: "Delete",
                routeValues: new { id = item.Id },
                htmlAttributes: new { @class = "btn btn-info btn-sm" }
            )
        </td>
    </tr>
}

</table>







@using (Html.BeginForm())

{
    <p>
        Items pr. Page: @Html.TextBox("itemPrPage")
        <input type="submit" value="Go" />
    </p>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, itemPrPage = ViewBag.CurrentPage }))

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount