@model IEnumerable<Cafeen.Models.Accounting>

@{
    ViewBag.Title = "Index";
}

<h2>Accounting</h2>

<p> @Html.ActionLink("Start a new session", "Create") </p>


<table class="table">
    <tr>
        <th>
            <b>Receipt</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Lock status
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.LockStatus == false)
                {
                    <p style="color:gray">Receipt</p>
                }
                else
                {
                    @Html.ActionLink("Receipt", "Receipt", new { id = item.Id })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.LockStatus == true)
                {
                    <input class="LockText"type="button" value="Unlock" onclick="location.href='@Url.Action("Lock", "Accountings", new { id = item.Id })'" />
                }
                else
                {
                    <input class ="LockText1"type="button" value="Lock" onclick="location.href='@Url.Action("Lock", "Accountings", new { id = item.Id })'" />
                }
            </td>
            <td>
                @if (item.LockStatus == true)
                {
                     @Html.ActionLink("Details", "Details", new { id = item.Id }) <p style="display:inline"> | </p>

                     @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) <p style="display:inline"> | </p>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })  <p style="display:inline"> | </p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }


            </td>
        </tr>
    }

</table>
