@model IEnumerable<Cafeen.Models.Accounting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
