@model IEnumerable<Cafeen.Models.Accounting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Start a new day", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <b>Receipt</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>
            Lock status
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Receipt", "Receipt", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @if (item.LockStatus == true)
            {
                <p class="LockText">Locked</p>
            }
            else
            {
                @Html.ActionLink("Lock the day", "Lock")
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
