@model Cafeen.ViewModels.AccountingsReceipt

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardCash)
        </th>
        <th>
            <b>Lock Timestamp</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockStatus)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.StartCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.EndCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.CardCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.LockStatus)
        </td>
    </tr>

</table>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Start Qty
        </th>
        <th>
            End Qty
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.StartProduct)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.Qty))
            </td>
            <td>
                @Model.EndProduct.Where(s=> s.Id == item.Id).First().Qty
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>